<div id="transaction-list"></div>

<script type="module">
    import { Grid } from "gridjs";
    import 'gridjs/dist/theme/mermaid.min.css';

    const formData = new FormData();

    formData.append('list_type_class', "{{ list.type|e('js') }}");

    const grid = new Grid({
        columns: {{ list.columns|json_encode|raw }},
        {% if list.fetchDataFromRequest %}
            server: {
                url: '/list/fetch-data', // TODO: generate route
                method: 'POST',
                body: formData,
                then: response => response.data.map(row => [...row]),
                total: response => response.total,
            },
        {% else %}
            data: {{ list.data|json_encode|raw }},
        {% endif %}
        {% if list.pagination is not null %}
            pagination: {
                limit: {{ list.pagination.limit }},
                page: {{ list.pagination.page }},
                {% if list.fetchDataFromRequest %}
                    server: {
                        url: (url, page) => addUrlParameter(url, 'page', page)
                    }
                {% endif %}
            },
        {% endif %}
        sort: {
            multiColumn: false,
            {% if list.fetchDataFromRequest %}
                server: {
                    url: (url, columns) => {
                        if (!columns.length) return url;

                        const column = columns[0];
                        const direction = column.direction === 1 ? 'asc' : 'desc';

                        url = addUrlParameter(url, `sort[${column.index}]`, direction);

                        return url;
                    }
                }
            {% endif %}
        },
    });

    grid.render(document.getElementById("transaction-list"));

    function addUrlParameter(url, name, value) {
        const separator = url.includes('?') ? '&' : '?';

        value = encodeURIComponent(value);
        
        return `${url}${separator}${name}=${value}`;
    }
</script>
